@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600');
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html, body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
a.onBlack {
    color: #eaeaff;
}
a:hover {
    cursor: pointer;
}
.page_container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #ffffff;
    margin-top: 15px;
}
.head_wrap, .foot_wrap {
    display: flex;
    height: 60px;
    width: 50%;
    min-width: 550px;
    margin: auto;
    color: #fcfcfc;
    padding: 5px 5%;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.head_wrap {
    background: linear-gradient(to bottom, #1f1f1f, #4f4f4f);
}
.foot_wrap {
    background: linear-gradient(to bottom, #4f4f4f, #1f1f1f);
}
.head__title {
    text-align: left;
    align-self: center;
    font-size: 24px;
    font-weight: 500;
    width: 50%;
    min-width: 130px;
}
.head__input {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 100%;
    min-width: 130px;
}
.foot__stats {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    text-align: left;
    align-self: center;
    font-size: 16px;
    font-weight: 300;
}
#pending, #completed {
    color: #fcfcfc;
    padding-right: 10px;
}
.foot__credits {
    text-align: left;
    align-self: center;
    font-size: 16px;
    font-weight: 300;
}
/* body forming blocks */
.body_wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    min-width: 550px;
    margin: auto;
    color: #020202;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: calc(5% - 9px);
    padding-right: calc(5% - 9px);
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    border: 9px double #4f4f4f;
}
#content_container {
    display: flex;
    flex-direction: column;
    min-height: 250px;
}
#nc_container {
    display: flex;
    flex-direction: column;
}
#navigation_block, #controls_block {
    padding: 2px 0;
}
#controls_block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.control_item {
    padding-right: 15px;
    align-self: center;
}
.control_item:hover {
    cursor: pointer;
}
input {
    padding: 3px 5px;
    height: 23px;
    width: 45%;
    min-width: 100px;
    align-self: center;
    margin: 0 15px;
}
#addButton {
    text-align: center;
    align-self: center;
    height: 23px;
    width: 50px;
    background-color: #ffffff;
    color: #020202;
    flex-shrink: 0;
}
#addButton:hover {
    background-color: #eaeaff;
    cursor: pointer;
}
#clearButton {
    text-align: center;
    align-self: center;
    height: 23px;
    width: 80px;
    background-color: #020202;
    color: #fcfcfc;
    flex-shrink: 0;
}
#clearButton:hover {
    background-color: #eaeaff;
    cursor: pointer;
    color: #020202;
}
#content_container .item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 46px;
    margin: 2px 0;
    padding: 2px 0;
}
#content_container .item:hover {
    background-color: #f8f8f8;
}
#content_container .item .checkbox {
    align-self: center;
    background-color: #00ffbc;
    height: 20px;
    width: 20px;
}
#content_container .item .checkbox:hover {
    opacity: 0.7;
    cursor: pointer;
}
#content_container .item .content {
    align-self: center;
    padding: 0 7px;
}
#content_container .item .remove_item {
    background-color: #ff0071;
    align-self: center;
    height: 20px;
    width: 20px;
}
#content_container .item .remove_item:hover {
    opacity: 0.7;
    cursor: pointer;
}